---
title: Dev-Blog
---
<header id="devblogHeader">
    <a href="/index.html">Back</a>
    <h1>Ennui - DevBlog</h1>
</header>

<body id="devblogBody">
    <div class="changeBlock">
        <h2 class="version">Version 1.0.4</h2>
        <h3 class="releaseDate">Released on 18.03.2018</h3>
        <div class="changes">
            <ul>
                <li>Recommended events were not fitting? Now it should fit more to your profile!</li>
                <li>Your are now able to see ALL pictures of the events again. (Not all pictures were loaded, until now) </li>
                <li>Missed your profile picture? You can see it again.</li>
                <li>Minor bugfixes and improvements</li>
            </ul>
        </div>
    </div>
    <div class="changeBlock">
        <h2 class="version">Version 1.0.3</h2>
        <h3 class="releaseDate">Released on 23.01.2018</h3>
        <div class="changes">
            <ul>
                <li>You will now get recommended events based on your favourites and clicks.</li>
                <li>Minor bugfixes and improvements</li>
            </ul>
        </div>
    </div>
    <div class="changeBlock">
        <h2 class="version">Version 1.0.2</h2>
        <h3 class="releaseDate">Released on 05.12.2017</h3>
        <div class="changes">
            <ul>
                <li>Ever thought of going climbing, but didn't know where? You can now search for offers nearby! </li>
                <li>You'd like to add your own game to our page? Sure? Good, now you can :) </li>
                <li>You don't know if your event/game has been accepted? Take a look at "Event/Game Submissions"</li>
                <li>If you are not satisfied with your event/game you've added, you can now edit them in "Submissions" Tab</li>
                <li>Event-List is now limited to 60 Events (You can load more while scrolling)</li>
                <li>Games/Offers can be searched again in the search bar</li>
                <li>Minor bugfixes and improvements</li>
            </ul>
        </div>
    </div>
    <div class="changeBlock">
        <h2 class="version">Version 1.0.0</h2>
        <h3 class="releaseDate">Released on 26.09.2017</h3>
        <div class="changes">
            <ul>
                <li>
                    You can now log in with Facebook, after doing this, you will unlock additional features for Ennui!
                </li>
                <li>Events are now listed faster</li>
                <li>You can view more details of an event when clicking on it</li>
                <li>When clicking on the heart it appears red and is now favored (also apperas in the "Favourites-Section") <b>FB-only</b></li>
                <li>When browsing events, you can now filter them (Radius, Location, Date or choose a category)</li>
                <li>Still bored? Create your OWN event! <b>FB-only</b></li>
                <li>Browse some games, which you can play in your leisure time!</li>
                <li>View them and of course read them how to play it :)</li>
                <li>Already played a game? Rate it by giving stars to the game! <b>FB-only</b></li>
            </ul>
        </div>
    </div>

</body>

<footer id="landingFooterDev">
    <div class="popUpText" id="textDiv">
        <div id ="close">X</div>
        <span id="textSpan">
            </span>
    </div>
    <table>
        <tr>
            <td class="header">Info</td>
            <td class="header">ennui.at</td>
            <td class="header">Latest Information</td>
        </tr>
        <tr>
            <td><a class="dialog" value="about">About Ennui</a>

            </td>
            <td></td>
            <td><a href="http://www.facebook.com/">Facebook</a></td>
        </tr>
        <tr>
            <td><a class="dialog" value="privacy">Privacy Policy</a></td>
            <td></td>
            <td><a href="devblog.html">Dev-Blog</a></td>
        </tr>
        <tr>
            <td><a class="dialog" value="terms">Terms and Conditions</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a class="dialog" value="contact">Contact us</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div id="languageBox">
        <span><i>The two enemies of human happiness are pain and boredom.</i> – Arthur Schopenhauer</span>
        <span><b>ennui.at: </b> your number 1 source against boredom</span>
    </div>
</footer>
