---
title: Dev-Blog
---

<main id="eventPageMain">
    <div class="eventItemPageContainer">
        <div class="eventItemPageHeaderContainer" id="eventItemPageHeaderContainer">
            <div class="headerContent">
                <h1 id="eventName">Name</h1>
                <h3 id="eventOwner">by Owner</h3>
                <h2 id="eventTime"></h2>
                <a href="#" id="eventWebsite">link</a>
            </div>
        </div>
        <div class="eventPageDescription" id="eventPageDescription">
            Description
            <div class="scrollHorizontal margintop" id="eventPageHorizontalScroll">

            </div>
        
        </div>
        <div class="rightColumn">
            <div class="mapWrapper">
                <div class="mapLocation" id="mapLocation">
                    <div class="mapLocationHeader"> Place Name</div>
                    <div class="mapLocationAdress">Adress</div>  
                </div>
                <div id ="eventLocationMap" className="eventLocationMap">

                </div>
                
            </div>
            <div class="taxiWrapper">
                <div class="taxiHeader">Near Available Taxis</div>
                <div id="eventTaxiList" class="eventTaxiList"></div>
            </div>
        </div>
        <div class="icon-back"></div>
    </div>
</main>