---
title: Index
---

<header id="landingHeader">
    <div class="header_segment">
        <div id="header_leisure" class="segment_background"></div>
        <div class="segment_content">
            <div class="content_headline" id="leisure_headline">Offers</div>
            <div class="content_text">Constantly available Activities, which you surely like</div>
        </div>
    </div>
    <div class="header_segment">
        <div id="header_events" class="segment_background"></div>
        <div class="segment_content">
            <div class="content_headline" id="events_headline">Events</div>
            <div class="content_text">The best parties and events</div>
        </div>
    </div>
    <div class="header_segment">
        <div id="header_games" class="segment_background"></div>
        <div class="segment_content">
            <div class="content_headline" id="games_headline">Games</div>
            <div class="content_text">Game-Ideas for everyone</div>
        </div>
    </div>
</header>


<main id="landingMain">
    <div id="appFunctions">
        <h1><span class="acent">Ennui</span> in a nutshell</h1>
        <div class="functionContainer">
            <div class="appFunction">
                <img src="/images/ball.png" alt="Zeitvertreib"/>
                <h3>Never bored again!</h3>
                <p>Find the perfect fitting activity for your spare time!</p>
            </div>
            <div class="appFunction">
                <img src="/images/grid.png" alt="Sections"/>
                <h3>Choose from three areas</h3>
                <ul>
                    <li><span>Events:</span> The best parties and events</li>
                    <li><span>Offers:</span> Constantly available Activities, which you surely like</li>
                    <li><span>Games:</span> Game-Ideas for everyone</li>
                </ul>
            </div>
            <div class="appFunction">
                <img src="/images/tennis.png" alt="Activities"/>
                <h3>Activities tailored for YOU!</h3>
                <p>Filter Activities for your preferences, your budget and reachability</p>
            </div>
            <div class="appFunction">
                <img src="/images/dancer.png" alt="Party"/>
                <h3>From Users for Users</h3>
                <p>Planning a legendary Party or got an ingenious Game-Idea? Share them with the rest of the Community</p>
            </div>
        </div>
    </div>
    <div class="landingParallax" id="parallaxEvent">
    </div>

    <div id="statistics">
        <h1>Ennui - <span class="acent">Statistiken</span></h1>
    </div>
    <div class="landingParallax" id="parallaxLeisure">
    </div>

    <div id="devBlog">
        <h1>Developer-<span class="acent">Blog</span></h1>
        <p>If you want to get known about the latest updates and hidden information about ennui,<br/>you should <a href="/devblog.html">visit our Dev-Blog</a></p>
    </div>
    <div class="landingParallax" id="parallaxGames">
    </div>

    <div id="developerInformation">
        <h1>Developed by</h1>
        <div class="devContainer">
            <div class="developer">
                <a href="https://de.wikipedia.org/wiki/Kevin"> <div id="pbSinger" class="devPB" alt="Martin Singer"></div></a>
                <h3>Martin Singer</h3>
                <p><i>"Mädchen für Alles"</i></p>
            </div>
            <div class="developer">
                <a href="http://www.geilehner.at/markus"> <div id="pbGeilehner" class="devPB" alt="Markus Geilehner"></div></a>
                <h3>Markus Geilehner</h3>
                <p><i>"The Brain"</i></p>
            </div>
            <div class="developer">
                <a href="http://simon.gutenbrunner.at"> <div id="pbGutenbrunner" class="devPB" alt="SimonGutenbrunner"></div></a>
                <h3>Simon Gutenbrunner</h3>
                 <p><i>"Geili is eh schnölla"</i></p>
            </div>
        </div>
    </div>
</main>

{{>_footerComp}}