$breakpoint-mobile: 780px;
$header_height: 80%;
$header_segment_size_buffer: 150px;
$acent-color: #49a5ad;
$footer-color: #404040;
$mainContent-color: #F7FBFE;
$headerBar-color: white;
$menu-width: 300px;
$headerBarFont-color: #667482;
$headerBarBorder-color:  #F9F9FB;
$eventItem-width: 350px;
$eventItem-height: 400px;
$eventItem-width-small: 275px;
$eventItem-height-small: 280px;
$offerItem-width: 350px;
$offerItem-height: 100px;
$sideBarFont-color: #2991E4;
$sideBar-color: #34465A;
$menuSwipeTime: 0.2s;