<footer id="landingFooter">
    <div class="popUpText" id="textDiv">
        <div id ="close">X</div>
        <span id="textSpan">
            </span>
    </div>
    <table>
        <tr>
            <td class="header">Info</td>
            <td class="header">ennui.at</td>
            <td class="header">Latest Information</td>
        </tr>
        <tr>
            <td><a class="dialog" value="about">About Ennui</a>

            </td>
            <td></td>
            <td><a href="http://www.facebook.com/">Facebook</a></td>
        </tr>
        <tr>
            <td><a class="dialog" value="privacy">Privacy Policy</a></td>
            <td></td>
            <td><a href="devblog.html">Dev-Blog</a></td>
        </tr>
        <tr>
            <td><a class="dialog" value="terms">Terms and Conditions</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a class="dialog" value="contact">Contact us</a></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div id="languageBox">
        <span><i>The two enemies of human happiness are pain and boredom.</i> – Arthur Schopenhauer</span>
        <span><b>ennui.at: </b> your number 1 source against boredom</span>
    </div>
</footer>
